*{
    margin: 0;padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    background-image:url(assets/images/BG.jpg);
    height: 100vh;
    position: relative;
    background: size cover;
    background-position: center center;
    background-repeat: no-repeat;
    
 
}
.box{
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;

}
nav{
    position: relative;
    top: 0;
    padding-top: 20px;
    display: flex;
    width: 75vw;
    margin: auto;
    justify-content: space-between;
}
.left img{
    color: red;
}
.right >button{
    
    
    
}
.eng{
    width: 100px;
    padding: 10px;
    border-radius: 7px;
    color: white;
    background-color: rgba(23, 23, 23,0.2);
    background-color: rgba(187 171 171 / 8%);
}
.sign{
    width: 100px;
    padding: 10px;
    border-radius: 7px;
    background-color: #E50914;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transform: none;    
}
main  {
    
    min-height: 80%;
    color: white;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
     position: relative;
    z-index: 10;
}


.left{
    position: relative;
    z-index: 10;
}
.right{
    position: relative;
    z-index: 10;
} 
.first{
    font-size: 50px;
    font-weight: 800;
}
.second{
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
}
.third{
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
}
main div{
    
    display: flex;
    gap: 5px;
}
main div input{
    
padding: 5px 49px;
    color: rgb(251, 251, 251);
    border-radius: 4px;
    font-size: 17px;
    background-color: rgba(23, 23, 23,0.7);
    padding-left: -50px;
    font-weight: 600;
    border: 1px solid  rgba(24, 2, 2, 0.7);
    
    
}
.red-button{
    
    
    padding: 5px 29px;
    color: white;
    background-color: #E50914;
    border-radius:4px;
    font-size: 26px;
    font-weight: 500;
}
.black{ 
    position: relative;
    width: 100vw;
    height: 50px;
    background-color: rgb(5, 1, 14);
    opacity: 0.9;
}
.grade{
    display: flex;
    flex-direction: column;
}
.trend{
    margin-top: -50px;
    padding: 80px;
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.trend img{
    
    object-fit: contain;
    width: 15vw;
}
.heading{
    margin-top: -5px;
    background-color: rgb(0,0,0);
    color: white;

}
.heading span{
    margin-left: 18%;
    position: relative;
    font-size: 25PX;
    font-weight: 600;
    margin-bottom: 50px;
}
.reason{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}
.log{
    position: relative;
    background-color: rgb(20, 3, 37);
    width: 15vw;
    color: white;
    font-weight: 400;
    height: px;
    border-radius: 8px;
    padding: 8px;
    
}
.log div{
    font-size: 23px;
    padding: 9px;
    text-align:start;
     font-weight: 700;

}
.headings{
    
     margin-top: -5px;
    background-color: rgb(0,0,0);
    color: white;
}
.headings span{
    margin-bottom: 1%;
    margin-left: 15%;
    padding: 20px 0px;
    position: relative;
    font-size: 25PX;
    font-weight: 600;
    margin-bottom: 50px;
}
.question{
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 42, 42);
    width: 70vw;
    
    margin: 5px ;
}
.bigcont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question div{
    align-content: center;
    font-size: 23px;
    font-weight: 400;
    padding: 20px;
    height: 20px;
}
@media only screen and (max-width:550px){
    
     
    main  {width:80vw;
        margin: auto;
        padding-top: 20%;
        padding-bottom;

    }
    nav{
        width: 90vw;
    }
    .third,
main div input {
    margin: 0;
    padding: 0;
}
    main div{
        display: flex;
        flex-direction: column;
        width:70vw;
        align-items: center;
        margin: auto;
    }
    main div input {
        width: 65vw;
        


    }
    .red-button{
        
        width: 50vw;
        text-align: center;
        font-size: 18px;

    }
    .first{
        font-size: 30px;
    }
    .second{
        font-size: 17px;
        font-weight: 500;
        align-content: center;
    }
    .third{
        font-size: 17px;
        font-weight: 500;
    }
    .left img{
        width: 95px;

    }
    .eng{
        width: 55px;

    }
    .sign{
        width: 80px;

    }
    .main{
        height: 55vh;
    }
    .trend{
    
    
    position: relative;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.trend img{
    width: 20vw;
}
    .reason{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }  
    .log{
width: 90vw;
    }
    .log div{
        margin: 0;padding: 0;
        font-size: 21px;
    }
    .question{
        width: 95vw;
    }
    .headings span{
        padding: top 50px;;
    }
}